.grid-box{
    display: inline-block;
    /* float: left; */
    width: 40vw;
    margin: 10px;
    background: rgb(23,23,23, 1);
}
p{
    line-height: 110%;
}

label{
    display: inline-block;
    width: 100%;
    /* margin-left: 40%; */
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
    background: rgb(23,23,23, 1);
}
.form-field{
    margin-bottom:10px;
    background: rgb(23,23,23, 1);
    /* border: 1px, whitesmoke, solid; */
    color: whitesmoke;
}
textarea{
    width: 100%;
    height:200px;
}
#sub-btn{
    /* width: 100%; */
    display: inline-block;
}
#about{
    align-content: center;
    font-size: 150%;
    font-family: 'Oswald', sans-serif;
}
#back-btn{
    height: 60px;
    border: none;
    margin-left: 45%;
    margin-top:5%;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 200%
}

/* BIGGER SCREENS */
@media only screen and (min-width: 1110px) {
    .grid-box{
        width: 35vw;
        height: 65vh;
        /* display: inline-block; */
    }
    textarea{
        /* width: 100%; */
        height:200px !important;
    }
    #email-form{
        position: absolute;
        left: 10vw;
        float: left;
    }
    #about-card{
        position: absolute;
        right: 10vw;
        float: right;

    }
  
}

/* IPHONE SIZE */
@media only screen and (max-width: 600px) {
    .grid-box{
        width: 90vw;
        height: 35vh;
    }
    #about-card{
        overflow-y: scroll;
        /* height: 50vh; */
        display: block;
    }
    textarea{
        /* width: 100%; */
        height:100px !important;
    }
    #back-btn{
        height: 10px;
        border: none;
        margin-left: 45%;
        /* margin-top:5%; */
        top: 0;
        color: whitesmoke;
        font-family: 'Oswald', sans-serif;
        font-size: 200%
    }
}



