<div id="main-content" @fadeIn>
    <mat-card id="email-form" class="grid-box">
        <mat-card-content>
            <form action="https://formspree.io/f/meqpalgd" method="POST">
                <label>
                    Your Email Address:
                </label>
                <input class="form-field" type="text" name="_replyto">
                <label>
                    Your Message:
                </label>
                <textarea class="form-field" name="message"></textarea>
    
                
                <!-- your other form fields go here -->
                
                <button mat-stroked-button id="sub-btn" class="hvr-sweep-to-right" type="submit">Send</button>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card class="grid-box" id="about-card">
        <mat-card-content>
            <span id="about">
                <p>My Name is Joe Lobosco, I am a composer and musician with over 10 years of experience in a variety of different styles and genres. My goal is to create outstanding and memorable music and audio for any Video Game or Project that I am a part of.</p>
                <br />
                <p>I work well from specific references, and can take near any stylistic direction to create an immersive listening expereince that is unique to your needs.</p>
                <br />
                <p>Please reach out to me regarding your specific project, and include any Style or Genre references that you want to inspire your sound.</p>
            </span>
        </mat-card-content>
    </mat-card>

    <!-- <button mat-stroked-button routerLink="/" class="hvr-wobble-vertical button" id="back-btn">
        Music <fa-icon [icon]='faMusic'></fa-icon>
    </button> -->
</div>


