<div id="main-content" @fadeIn>
    <mat-card id="email-form">
        <mat-card-content>
            <form action="https://formspree.io/f/meqpalgd" method="POST">
                <label>
                    Your email:
                </label>
                <input class="form-field" type="text" name="_replyto">
                <label>
                    Your message:
                </label>
                <textarea class="form-field" name="message"></textarea>
    
                
                <!-- your other form fields go here -->
                
                <button mat-stroked-button id="sub-btn" class="hvr-sweep-to-right" type="submit">Send</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>


