/* #play{
    width: 75vw;
} */
#spacer{
    width: 75vw
}

#waveform{
    width: 100%;
}

.pause-btns{
    display: none;
    background-color:rgb(184,15,34, .6); 
}

.spinner-btns{
    display: none;
}

#contact-btn{
    height: 60px;
    border: none;
    margin-left: 45%;
    /* margin-top:20%; */
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 200%
}

.track-names{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 150%;
    opacity: 1 !important;
}

.mat-card{
    background-color: rgb(23,23,23, .6);
}

table{
    overflow-y: scroll;
    height: 50vh;
    display: block;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: whitesmoke; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}




